OWNER_NAME="UMAR"
PREFIX="."
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "GOLD-MD"
IMAGE_MENU= "https://i.postimg.cc/1XQq5DzP/pictures-white949544-GOjsnnsnznznzbzbbzbz7777-GOLDLD-PIC.png"
NUMERO_OWNER= ""
OWNER_NAME= "|UMAR|"
DATABASE_URL= ""
WARN_COUNT= "2"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
